@import 'base';

*, *:before, *:after {
    box-sizing: border-box;
}

// Base set-up
html, body {
    margin: 0;
    padding: 0;
    background: $body-bg;
    // Font defaults
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    @media screen and (min-width: 640px) {
        font-size: 14px;
    }
    color: #999;
    min-height: 100vh;
}

.container {
    max-width: 100%;
    padding-left: 1%;
    padding-right: 1%;
}

a {
    color: mediumturquoise;
}

.page-container {
    //min-height: calc(100vh - 20vh);
    aside.sidebar {
        display:none;
        background: rgba(#000, 0.1);
    }
    main.main {
        //flex:5;
    }
}

footer.footer {
    background: red;
}
