button, .btn {
    display: inline-block;
    background-color: greenyellow;
    background: linear-gradient(top, greenyellow, darken(greenyellow, 20%));
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    border: 0 none;
    outline: none;
    cursor: pointer;
    @include material-shadow(1);
    // Modifiers
    .btn--rounded {
        border-radius: 500px;
    }
}
