.header {
    // Flex
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    //height: 3rem;
    // Theme
    background: rgba(#000, 0.6);
    color: #ccc;
    a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 1rem;
        cursor: pointer;
    }
    .logo {
        position: relative;
        flex:1;
        .svg-logo {
            position: absolute;
            top:0.15rem;
        }
    }
    .menu {
        flex:6;
        justify-content: flex-end;
    }
}
