.header {
    // Flex
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // Theme
    background: rgba(#000, 0.6);
    color: #ccc;
    a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 1rem;
        cursor: pointer;
    }
    .logo {
        flex:1;
        #star-rate {
            fill: #fff;
        }
    }
    .menu {
        flex:6;
        justify-content: flex-end;
    }
}
