@keyframes load {
    0% {
        width: 0vw;
    }
    100% {
        width: 100vw;
    }
}

body {
    .loader {
        display: block;
        position: absolute;
        z-index: 999;
        background: rgba(#000, 0.8);
        width: 100vw;
        height: 100vh;
        .spinner {
            background: yellowgreen;
            height: 0.5rem;
            position: absolute;
            top: 0;
            //transform: translateX(-50%)translateY(-50%);
            animation: load 1s linear infinite;
        }
    }
}

body.ember-application {
    .loader {
        display: none;
    }
}
