<h3>New Listing</h3>
{{input type="text" placeholder="name" value=name class="text-input"}}
{{input type="text" placeholder="Description" value=body class="body-input"}}
<button {{action 'addListing'}} class="btn">Add Listing</button>