<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
                {{#link-to 'index' class='navbar-brand'}}
                    Listings
                {{/link-to}}
            <ul class="nav navbar-nav">
                <li>{{#link-to 'index'}}Home{{/link-to}}</li>
                <li>{{#link-to 'listing'}}Listings{{/link-to}}</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{{#if session.isWorking}}
                    One sec while we get you signed in...
                {{else}}
                    {{error}}
                    <a href="#">
                        Log-in
                    </a>
                {{/if}}</li>
            </ul>
        </div>
    </div>


</nav>
<div class="container">

    {{outlet}}

    <footer>Copyright &copy; 2015 Ian Jamieson</footer>
</div>
