<header class="header">
    {{#link-to 'index' class='logo'}}<img src="assets/images/logo.svg" height="25px" class="svg-logo">{{/link-to}}
    <ul class="menu menu--right">
        <li>{{#link-to 'manage.new'}}Add Listing{{/link-to}}</li>
        {{#if session.isAuthenticated}}
            <li>
                <span class="dropdown-toggle" data-toggle="dropdown"><a>{{session.content.userName}} My Account</a></span>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        {{#link-to 'manage.new'}}Add Listing{{/link-to}}
                    </li>
                    <li>
                        {{#link-to 'manage.listings'}}View my listings{{/link-to}}
                    </li>
                    <li>
                        <a {{action 'logout'}}>Logout</a>
                    </li>
                </ul>
            </li>
        {{else}}
            <li>
                {{#link-to 'login'}}Login{{/link-to}}
            </li>
        {{/if}}
    </ul>
</header>

<div class="page-container">

    <aside class="sidebar">
        <h4>Categories</h4>
    </aside>

    <main class="main">
        <div class="container">

            {{liquid-outlet}}


        </div>
    </main>

</div>

