<header class="header">
    {{#link-to 'index' class='logo'}}<img src="assets/images/logo.svg" height="25px" class="svg-logo">{{/link-to}}
    <ul class="menu text--right">
        <li>{{#link-to 'manage.new'}}Add Listing{{/link-to}}</li>
        {{#if session.authed}}
            <li>
                <span class="dropdown-toggle"
                      data-toggle="dropdown">{{google.displayName}}{{facebook.displayName}} {{#link-to 'logout'}}
                    Logout{{/link-to}}</span>
                <ul class="dropdown-menu" role="menu">
                    ...
                </ul>
            </li>
        {{else}}
            <li>
                <span class="dropdown-toggle" data-toggle="dropdown">{{#link-to 'login'}}Login{{/link-to}}</span>
                <ul class="dropdown-menu" role="menu">
                    ...
                </ul>
            </li>
        {{/if}}
    </ul>
</header>

<div class="page-container">

    <aside class="sidebar">
        <h4>Categories</h4>
    </aside>

    <main class="main">
        <div class="container">

            {{liquid-outlet}}


        </div>
    </main>

</div>

