<header class="header">
    {{#link-to 'index' class='logo'}}[ ]{{/link-to}}
    <ul class="menu text--right">
        <li>{{#link-to 'manage.new'}}Add Listing{{/link-to}}</li>
        {{#if session.authed}}
            <li>
                <span class="dropdown-toggle" data-toggle="dropdown">{{google.displayName}}{{facebook.displayName}} {{#link-to 'logout'}}Logout{{/link-to}}</span>
                <ul class="dropdown-menu" role="menu">
                    ...
                </ul>
            </li>
        {{else}}
            <li>
                <span class="dropdown-toggle" data-toggle="dropdown">{{#link-to 'login'}}Login{{/link-to}}</span>
                <ul class="dropdown-menu" role="menu">
                    ...
                </ul>
            </li>
        {{/if}}
    </ul>
</header>

<main class="container">

    {{liquid-outlet}}


</main>

