<h1>Latest Listings</h1>

<ul class="categories">
    {{#each listing in controller}}
        <li>{{#link-to 'listing' listing class="item"}}<h3>{{listing.name}}</h3><br>&euro;{{listing.price}}{{/link-to}}</li>
    {{/each}}
</ul>
