<header class="page-header">
    <h1>Login</h1>
</header>


<button {{ action 'loginGoogle' }} class="btn btn-default">
    Sign in with Google
</button>
<button {{ action 'loginFacebook' }} class="btn btn-default">
    Sign in with Facebook
</button>
