<h1>My Listings</h1>
<div class="row">
<ul class="nav navbar-nav">
    <li>{{#link-to 'manage'}}Dashboard{{/link-to}}</li>
    <li>{{#link-to 'manage.listings'}}My Listings{{/link-to}}</li>
    <li>{{#link-to 'manage.new'}}Add Listing{{/link-to}}</li>
</ul>
</div>
{{outlet}}
